#posicionamento {
  padding-top: 20%;
  padding-left: 10%;

}
ion-content{
  --ion-background-color: rgb(123, 123, 123);
}

.soma {
  display: flex;
  padding-left: 120px;
}

.Botao {
  padding-left: 7px;
}



h1 {
  text-align: center;
  padding-right: 38px ;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ion-item{
  --ion-background-color: rgb(183, 28, 28);
}










